* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    background-color: black;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/*BARRA DE NAVEGACION*/
.navbar-toggler .navbar-toggler-icon {
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath stroke="rgba(255, 255, 255, 1)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M4 7h22M4 15h22M4 23h22"/%3E%3C/svg%3E');
    background-size: 100%;
    background-repeat: no-repeat;
}

.logo-container {
    max-width: 100px;
}

.logo-container img {
    width: 100%;
    height: auto;
}

.hover-nav {
    border-radius: 10px;
    position: relative;
}

.hover-nav:hover {
    background-color: #404040;
}

.hover-dropdown {
    position: relative;
    display: inline-block;
}

.hover-dropdown::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #00c3ff;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}

.hover-dropdown:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/*INDEX Y DEMAS HMTL*/
main {
    flex: 1;
    padding-top: 7rem;
}

main h1,
main h2,
main p {
    text-align: center;
    padding-bottom: 1rem;
}

h1 {
    font-size: 50px;
}

h2,
h3 {
    text-decoration: underline;
    text-decoration-color: #00c3ff;
}

/*CARROUSEL DE IMAGENES*/
.carousel-img {
    height: 500px;
    object-fit: cover;
}

/*BIOGRAFIA*/
.bio-container{
    overflow: hidden;
    padding: 10px;
}

.bio-jpg{
    float: left;
    margin-right: 20px;
    max-width: 50%; 
    border-radius: 15px;
    padding: 10px;
}

.bio-jpg2{
    float: right;
    margin-right: 20px;
    max-width: 50%; 
    border-radius: 15px;
    padding: 10px;
}

.bio-jpg3{
    float: center;
    margin-right: 20px;
    max-width: 100%; 
    border-radius: 15px;
    padding: 10px;
}



.bio-container p {
    flex: 1 1 auto;
    margin: 0;
}

/*FOOTER EN MOBILE Y TABLETS*/
.text-center {
    text-align: center;
}

.title {
    text-decoration: underline;
    text-decoration-color: #00c3ff;
    padding-bottom: 15px;
}

.icon-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

.icon-container i {
    font-size: 2rem;
}

.icon-link .bi-instagram {
    color: #E1306C;
}

.icon-link .bi-spotify {
    color: #1DB954;
}

ul {
    padding: 0;
}

li {
    margin: 0.5rem 0;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:visited {
    color: #ffffff;
}

a:hover,
a:focus {
    color: #ffffff;
    text-decoration: none;
}

@media screen and (min-width:768px) {
    h1 {
        font-size: 80px;
    }

    h2 {
        font-size: 40px
    }

    p {
        font-size: 30px;
    }

    .carousel-img {
        height: 900px;
        object-fit: cover;
    }

    h3 {
        font-size: 40px;
        margin: 40px
    }

    iframe {
        width: 600px;
        height: 600px;
    }

    h4 {
        font-size: 25px;
    }
}

@media screen and (min-width:1200px) {
    /*BARRA DE NAVEGACION A LA DERECHA*/
    .navbar-nav {
        margin-left: auto;
    }

    h1 {
        font-size: 75px;
    }

    h2 {
        font-size: 40px;
        margin-bottom: 20px;
    }

    p {
        font-size: 30px;
    }

    /*SE OMITE EL CARROUSEL EN DESKTOP*/
    #carousel {
        display: none;
    }

    /*IMAGENES PARA DESKTOP*/
    .image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        height: 300px;
    }

    .custom-img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .image-container {
        height: 500px;
    }

    /*IFRAME PARA DESKTOP*/
    .iframe-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    iframe {
        width: 10000px;
        height: 600px;
    }

    /*FOOTER PARA DESKTOP*/
    .footer-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .col-12 {
        width: 200px;
    }
}

/*OCULTAR EN MOBILE Y TABLETS LAS IMAGENES PARA DESKTOP*/
@media (max-width: 1199px) {
    .img-container {
        display: none;
    }
}