.bio-container {
    overflow: hidden;
    padding: 10px;

    p {
        flex: 1 1 auto;
        margin: 0;
    }
}

.bio-jpg,
.bio-jpg2,
.bio-jpg3,
.bio-jpg4,
.bio-jpg5,
.bio-jpg6,
.bio-jpg7 {
    @include border-radius(15px);
    padding: 10px;
}

.bio-jpg {
    float: left;
    max-width: 50%;
}

.bio-jpg2 {
    float: right;
    max-width: 50%;
}

.bio-jpg3 {
    float: center;
    max-width: 100%;
}

.bio-jpg4 {
    float: center;
    height: 400px;
    width: 550px;
}

.bio-jpg5 {
    float: left;
    height: 350px;
    width: 350px;
}

.bio-jpg6 {
    float: left;
    max-width: 35%;
}

.bio-jpg7 {
    @include flex-center;
}
