// Color variables
$background-color: black;
$text-color: whitesmoke;
$hover-bg-color: #404040;
$highlight-color: #00c3ff;

// Color botones
$btn-bg-color: #f39c12; 
$btn-hover-color: #e67e22; 

// Tamaño de fuente
$font-size-h1: 50px;
$font-size-h2: 40px;
$font-size-p: 30px;
$font-size-h3: 40px;
$font-size-h4: 25px;

// Color de Links
$link-color: #ffffff;
$link-hover-color: #ffffff;

// Otros colores
$secondary-color: #404040;
$instagram-color: #E1306C;
$spotify-color: #1DB954;

